#experience {
  &.player {
    transition: background-color 2s;
  }
}

.soloist {
  opacity: 0.8;
}

.soloist .section-center {
  padding: 20px;
  box-sizing: border-box;

  .btn {
    background-color: $backgroundColor;
    border: 1px solid $textColor;
    border-radius: $borderRadius;
    color: $textColor;
    padding: 6px 0;
    display: block;
    @include transition(background-color 50ms);
    letter-spacing: 0.05em;

    width: 100%;
    font-size: 3rem;
    height: 120px;
    line-height: 120px;
    margin-bottom: 20px;

    &.active {
      background-color: $textColor;
      color: $backgroundColor;
    }
  }

  #force-mute, #reset {
    background-color: $alizarin;

    &:active {
      background-color: $textColor;
      color: $backgroundColor;
    }
  }

  label {
    display: block;
    font-size: 2rem;
    margin: 40px 0;
  }
}

.basic-controllers {
  height: 50px;
}

.basic-controllers .btn {
  height: 42px;
}
// style sliders - http://danielstern.ca/range.css/
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 20.8px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #909090;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20.8px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #9f9f9f;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #909090;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #818181;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #909090;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #909090;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #9f9f9f;
}
