# Transpiled files and dependencies
/node_modules
/public/js
/public/css
/dist

# Application instance specific
/logs
/db

src/server/config
!src/server/config/default.js

# ignore junk files
npm-debug.log
.DS_Store
Thumbs.db
